@using System.Web.Http.Description
@model Bog.Web.Dashboard.Areas.HelpPage.Models.HelpPageApiModel

@{
    ApiDescription description = this.Model.ApiDescription;
    this.ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                @(this.Html.ActionLink("Help Page Home", "Index"))
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @(this.Html.DisplayFor(m => this.Model))
    </section>
</div>

@section Scripts {
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
}