@model Bog.Web.Api.Areas.HelpPage.Models.HelpPageApiModel

@{
    ApiDescription description = this.Model.ApiDescription;
    this.ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                @(this.Html.ActionLink("Help Page Home", "Index"))
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @(this.Html.DisplayForModel())
    </section>
</div>